{# Titre de la page #}
{% extends 'defTemplate.html.twig' %}

{% block title %}404 ERR{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
    <div class="text-center">
    <h1>La page que vous cherchez n'existe pas :</h1>
    <h2 style="color:red"> {{page}}</h2>

{% endblock %}