{# Titre de la page #}
{% extends 'defaut.html.twig' %}

{% block title %}404 ERR{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
    <h1>La page que vous cherchez n'existe pas</h1>
    <p>Un paragraphe contenant pleins de mots à lire.</p>
{% endblock %}