{# Template général de la page #}
{% extends 'defTemplate.html.twig' %}

{# Titre de la page #}
{% block title %}Mon titre{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
    <div class="container m-3 mx-auto mt-5 border border-blue p-3 bg-white opacity-75">
        <h1>Bienvenue sur notre site !</h1>
        <p>C'est un plaisir de vous voir ici. Nous sommes dédiés à vous fournir le meilleur service possible.</p>

        <h2>Qui sommes-nous ?</h2>
        <p>Nous sommes une entreprise spécialisée dans la livraison de produits de haute qualité. Nous avons une équipe dédiée de professionnels qui travaillent sans relâche pour répondre à vos besoins.</p>

        <h2>Que faisons-nous ?</h2>
        <p>Nous fournissons une gamme de produits pour aider nos clients à se regaler au quotidien. Qu'il s'agisse de fruits sec, de boissons ou de biscuits, nous avons l'expertise nécessaire pour vous aider à combler votre appétit.</p>

        <h2>Comment pouvons-nous vous aider ?</h2>
        <p>Si vous avez des petit faim ou si vous souhaitez carrement vous remplir la panse, n'hésitez pas, Cliqué ! Nous serions ravis de vous envoyez de quoi combler vos desirs stomacal </p>
    </div>
{% endblock %}