{# Template général de la page #}
{% extends 'defTemplate.html.twig' %}

{# Titre de la page #}
{% block title %}Mon titre{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
    <h1>Mon super titre H1</h1>
    <p>Un paragraphe contenant pleins de mots à lire</p>
{% endblock %}