{% extends 'defTemplate.html.twig' %}

{% block body %}
	<div class="container">
	
		<div class="mx-auto mt-2 border border-blue p-3" style="width: 400px;">
			<h3 class="text-center">Connexion</h3>
			<form method="POST" action="index.php?action=connexion" class="p-4">

				<!-- Email input -->
				<div class="form-outline mb-4">
					<input type="email" id="mail" name="mail" class="form-control" required/>
					<label class="form-label" for="mail">Email address</label>
				</div>

				<!-- Password input -->
				<div class="form-outline mb-4">
					<input type="password" id="mdp" name="mdp" class="form-control" required/>
					<label class="form-label" for="mdp" required>Password</label>
				</div>
				<!-- Submit button -->
				<button type="Submit" name="action" value="connexion" class="btn btn-primary btn-block mb-4">Sign in</button>

				<!-- Register buttons -->
				<div class="text-center">
					<p>Not a member?
						<a href="index.php?page=register">Register</a>
					</p>
				</div>
			</form>
		</div>
	{% endblock %}
