<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}IsiWeb4Shop{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <h1> ISIWEB4SHOP </h1>
        </header>

        <div id='main'>
            <bandeau>
                <a href="index.php"> Accueil </a>
                <a href="index.php"> Panier/Payer </a>
            </bandeau>

            {% include 'navbar.html.twig' %}

            {% block body %}{% endblock %}
            
        </div>
        <footer><!-- Contenu de mon footer --></footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>