<footer class="footer  position-fixed w-100" 
    style="background-color: #1C385D; bottom : 0%">

	<div class="container mx-auto text-center text-light" 
        style="background-color: #1C385D;">

        <h3>&copy;
            {{ "now"|date("Y") }}
            SuperPanier par ANTONIN THOMAS .
        </h3>
	</div>
</footer>
