<div class="bs-component sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ISIWEB4SHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto nav-pills">
        <li class="nav-item active">
            <a class="nav-link" href="index.php">Accueil <!--<span class="sr-only">(current)</span>--></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
            <div class="dropdown-menu" style="will-change: transform;">
            <a class="dropdown-item" href="index.php?page=shop&product=fruits_sec">Fruits Secs</a>
            <a class="dropdown-item" href="index.php?page=shop&product=boissons">Boissons</a>
            <a class="dropdown-item" href="index.php?page=shop&product=biscuits">Biscuits</a>
        </li>

        <li class="nav-item me-5">
            <a class="nav-link" href="#">à Propos</a>
        </li>
        <!--   - - - - - POUR UNE BARRE DE RECHERCHE - - - - - - - - - 
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      
        -->
        <li class="nav-item me-1">
            <a class="nav-link" href="index.php?page=panier">
                Panier <img src="Contenu\images\panier.png" alt="panier" width="25" height="25">
            </a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="#">Connexion <i class="fas fa-sign-in-alt"></i></a>
        </li>
        
        </ul>
    </div>
    </nav>
</div>