
<nav>
    <h2> Notre offre </h2>
    <ul class='list-group list-group-horizontal'>
        <!-- on montre la classe active si la page est la page courante avec twig et bootstrap -->
        <li class={{page == 'fruits_sec' ? '"list-group-item active"' : '"list-group-item"'}}>
            <a href="index.php?page=shop&product=fruits_sec"> fruits secs </a>
        </li>


        <li class="list-group-item"> <a href="index.php?page=shop&product=boissons"> Boissons </a> </li>
        <li class="list-group-item"> <a href="index.php?page=shop&product=biscuits"> biscuits </a> </li>
    </ul>

    <a href="index.php"> Connexion </a>
</nav>
