
<nav>
    <h2> Notre offre </h2>
    <ul>
        <li> <a href="index.php?page=boissons"> Boissons </a> </li>
        <li> <a href="index.php?page=fruits_sec"> fruits secs </a> </li>
        <li> <a href="index.php?page=biscuits"> biscuits </a> </li>
    </ul>

    <a href="index.php"> Connexion </a>
</nav>
