
<nav>
    <bandeau>
        <a href="index.php"> Accueil </a>
        <a href="index.php"> Panier/Payer </a>
    </bandeau>

    <h2> Notre offre </h2>
    <ul class='list-group list-group-horizontal'>
        <!-- on montre la classe active si la page est la page courante avec twig et bootstrap -->
        <li class={{page == 'fruits_sec' ? '"list-group-item active"' : '"list-group-item"'}}>
            <a href="index.php?page=shop&product=fruits_sec"> fruits secs </a>
        </li>


        <li class="list-group-item"> <a href="index.php?page=shop&product=boissons"> Boissons </a> </li>
        <li class="list-group-item"> <a href="index.php?page=shop&product=biscuits"> biscuits </a> </li>
    </ul>

    <a href="index.php"> Connexion </a>
</nav>

<div class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto nav-pills">
        <li class="nav-item active">
            <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" style="will-change: transform;">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">à Propos</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </nav>
</div>